In [1]:
import pandas as pd
from nlpia.data.loaders import get_data

/Users/velazquezerick/Documents/NLP_in_action/lib/python3.9/site-packages/pugnlp/constants.py:136: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  [datetime.datetime, pd.datetime, pd.Timestamp])
/Users/velazquezerick/Documents/NLP_in_action/lib/python3.9/site-packages/pugnlp/constants.py:158: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  MIN_TIMESTAMP = pd.Timestamp(pd.datetime(1677, 9, 22, 0, 12, 44), tz='utc')
/Users/velazquezerick/Documents/NLP_in_action/lib/python3.9/site-packages/pugnlp/tutil.py:100: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  np = pd.np
/Users/velazquezerick/Documents/NLP_in_action/lib/python3.9/site-packages/pugnlp/util.py:80: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  np = pd.np
/Users/velazquezerick/Documents/NLP_in_action/lib/python3.9/site-packages/nlpia/futil.py:30: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  np = pd.np
/Users/velazquezerick/Documents/NLP_in_action/lib/python3.9/site-packages/nlpia/loaders.py:78: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  np = pd.np

In [12]:
sms = get_data('sms-spam')
index = ['sms{}{}'.format(i,'!'*j) for (i,j) in zip(range(len(sms)),sms.spam)]

In [5]:
print(type((sms)))
print(sms.head(5))

<class 'pandas.core.frame.DataFrame'>
   spam                                               text
0     0  Go until jurong point, crazy.. Available only ...
1     0                      Ok lar... Joking wif u oni...
2     1  Free entry in 2 a wkly comp to win FA Cup fina...
3     0  U dun say so early hor... U c already then say...
4     0  Nah I don't think he goes to usf, he lives aro...

In [6]:
for col in sms.columns:
	print(col)

spam
text

In [9]:
sms = pd.DataFrame(sms, columns=sms.columns, index=index)

In [11]:
sms

         spam text
sms0      NaN  NaN
sms1      NaN  NaN
sms2!     NaN  NaN
sms3      NaN  NaN
sms4      NaN  NaN
...       ...  ...
sms4832!  NaN  NaN
sms4833   NaN  NaN
sms4834   NaN  NaN
sms4835   NaN  NaN
sms4836   NaN  NaN

[4837 rows x 2 columns]